@import url(//db.onlinewebfonts.com/c/827d075b1538829cc0db75696e4d5fa2?family=Speedee);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    font-family: 'Speedee', sans-serif;
  }
  
  ul {
    list-style: none;
    height: 100%;
  }

  nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 14px;
  }
  
  img {
    max-width: 100%;
  }

/* HEADER */

.nav {
    width: 100%;  
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.content {
    width: 100%;
    height: 100%;
    padding: 12px 70px;
    
}

.header {
    display: flex;
    align-items: center;
}

.content img {
    max-height: 40px;
}

.left-list {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 30px;
}

.left-list li {
    margin: 0 10px;
}

.left-list :hover {
    /* text-decoration: underline; */
    color: rgb(88, 88, 88);
}

.right-list {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.right-list li:first-child {
    margin-right: 30px;
}

.right-list img {
    margin-right: 10px;
}

.link-restaurante {
    display: flex;
    align-items: center;
}

.btn {
    background-color: rgb(255, 188, 13);
    border: none;
    font-weight: bold;
    font-family: 'Speedee', sans-serif;
    border-radius: 25px;
    padding: 5px 30px;
    font-size: 15px;
    cursor: pointer;
}

/* CAROUSEL */

.content-carousel {
    margin-top: 90px;
    margin-left: 70px;
    margin-right: 70px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    /* margin: auto; */
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: -10%;
    width: auto;
    padding: 10px 15px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }

  .prev {
    right: 3.1%;
    background-color: rgb(249, 204, 70);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    background-color: rgb(249, 204, 70);
    /* border-radius: 3px 0 0 3px; */
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* BANNER */

  .content-banner {
      padding: 20px 70px;
      position: relative;
  }

  .content-banner img {
      width: 100%;
  }

  .content-banner p {
      position: absolute;
      font-size: 45px;
      color: rgb(17, 24, 39);
      font-weight: bold;
      top: 25%;
      right: 10%;
      line-height: 110%;
  }

  .btn-banner {
    background-color: rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    font-family: 'Speedee', sans-serif;
    border-radius: 25px;
    padding: 5px 35px;
    font-size: 25px;
    cursor: pointer;
  }

  .btn-position {
    position: absolute;
    right: 10%;
    top: 70%;
  }

  /* CARDS */

  .content-card {
    padding: 20px 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card1, .card2 {
    background-color: rgb(243, 244, 246);
  }

  .card1 {
    margin-right: 20px;
  }

  .parrafo1 {
    font-size: 30px;
    font-weight: bold; 
    color: rgb(17, 24, 39);
  }

  .parrafo2 {
    font-size: 1rem;
    /* line-height: 1.5rem; */
    margin-top: 15px;
  }

  .card2 {
    margin-left: 20px;
  }

  .btnSpace {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 35px 0;
  }

  .btnCard {
    background-color: rgb(255, 188, 13);
    border: none;
    font-weight: bold;
    font-family: 'Speedee', sans-serif;
    border-radius: 25px;
    padding: 10px 50px;
    font-size: 15px;
    cursor: pointer;
    /* margin: 0 250px; */
}

