@import url(//db.onlinewebfonts.com/c/827d075b1538829cc0db75696e4d5fa2?family=Speedee);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    font-family: 'Speedee', sans-serif;
  }
  
  ul {
    list-style: none;
    height: 100%;
  }

  nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 14px;
  }
  
  img {
    max-width: 100%;
  }

/* HEADER */

.nav {
    width: 100%;  
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.content {
    width: 100%;
    height: 100%;
    padding: 12px 70px;
    
}

.header {
    display: flex;
    align-items: center;
}

.content img {
    max-height: 40px;
}

.left-list {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 30px;
}

.left-list li {
    margin: 0 10px;
}

.left-list :hover {
    /* text-decoration: underline; */
    color: rgb(88, 88, 88);
}

.right-list {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.right-list li:first-child {
    margin-right: 30px;
}

.right-list img {
    margin-right: 10px;
}

.link-restaurante {
    display: flex;
    align-items: center;
}

.btn {
    background-color: rgb(255, 188, 13);
    border: none;
    font-weight: bold;
    font-family: 'Speedee', sans-serif;
    border-radius: 25px;
    padding: 5px 30px;
    font-size: 15px;
    cursor: pointer;
}

/* CAROUSEL */

.content-banner {
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}

/* Slideshow container */
.slideshow-container {
    /* max-width: 1000px; */
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

